
  <h1 class="font-bold text-4xl">Kayıt Ol</h1>
  <br><br>

  <%= form_with model: @user, url: registration_url, class: "contents" do |form| %>

    <div class="field">
      <%= form.label :first_name, "Ad" %>
      <%= form.text_field :first_name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="field">
      <p> ‏‎ </p>
      <%= form.label :last_name, "Soyad" %>
      <%= form.text_field :last_name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>  

    <div>
      <p> ‏‎ </p>
      <%= form.label :role, "Rol" %>
      <%= form.select :role, options_for_select([["Müşteri", "customer"], ["Satıcı", "seller"]]), { include_blank: "Rol Seçin" }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", id: "user_role" %>
    </div>

    <div class="my-5">
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "E-posta adresi giriniz", value: params[:email_address], class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Şifre giriniz", maxlength: 72, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.password_field :password_confirmation, required: true, autocomplete: "current-password", placeholder: "Şifreyi tekrar giriniz", maxlength: 72, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
      <div class="inline">
        <%= form.submit "Kayıt Ol", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
      </div>

      <div class="mt-4 text-sm text-gray-500 sm:mt-0">
        <%= link_to "Şifreni mi unuttun?", new_password_path, class: "text-gray-700 underline" %>
      </div>
  <% end %>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
    const roleSelect = document.querySelector('select[name="user[role]"]');
    const shopNameField = document.getElementById('shop_name_field');
    
    // Sayfa yüklendiğinde kontrol et
    toggleShopNameField();
    
    // Rol değiştiğinde kontrol et
    roleSelect.addEventListener('change', toggleShopNameField);
    
    function toggleShopNameField() {
      if (roleSelect.value === 'seller') {
        shopNameField.style.display = 'block';
      } else {
        shopNameField.style.display = 'none';
      }
    }
  });
</script>

</div>