<h1>Şifrenizi Güncelleyin</h1>

<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>

<%= form_with url: password_path(params[:token]), method: :put do |form| %>
  <%= form.password_field :password, required: true,class: "bg-blue-500 text-white px-2 py-2 rounded-lg hover:bg-blue-400 transition cursor-pointer", autocomplete: "new-password", placeholder: "Yeni şiferyi girin", maxlength: 72 %><br>
  <br><br>
  <%= form.password_field :password_confirmation, required: true,class: "bg-blue-500 text-white px-2 py-2 rounded-lg hover:bg-blue-400 transition cursor-pointer", autocomplete: "new-password", placeholder: "Yeni şiferyi tekrar girin", maxlength: 72 %><br>
  <br><br>
  <%= form.submit "Kaydet", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
<% end %>
