<div class="flex justify-between items-center mb-6">
  <h1 class="text-3xl font-bold text-gray-800">Ürünlerimiz</h1>
  <%= link_to "Kartlar", cards_path, class: "bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition-colors" %>
  <% if Current.user.admin?%>
    <%= link_to "Yeni Ürün Ekle", new_product_path, class: "bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition-colors" %>
    <%= link_to "Kategoriler", categories_path, class: "bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition-colors" %>
    <%= link_to "Yeni Kart Ekle", new_card_path, class: "bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition-colors" %>
    <%end%>
</div>

<% if @products.empty? %>
  <p class="text-gray-600">Henüz ürün bulunmamaktadır.</p>
<% else %>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <% @products.each do |product| %>
      <div class="bg-white shadow-md rounded-lg p-6 flex flex-col items-center">
        <h3 class="text-lg font-semibold text-gray-800 mb-4 text-center"><%= product.name %></h3>
        <%= image_tag product.featured_image, class: "w-48 h-32 object-cover rounded-md mb-4" %>
        <p class="text-gray-600 mb-4">Stok: <%= product.inventory_count %></p>
        <p class="text-gray-600 mb-4">Fiyat: <%= product.price.present? ? number_to_currency(product.price, unit: " ₺", format: "%n%u", separator: ",", delimiter: ".") : "Belirtilmemiş" %></p>
        <%= link_to "Görüntüle 👁", product_path(product), class: "bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition-colors w-full text-center" %>
        <p> ‏‎ </p>
        <%= form_with(url: "/cart/add_to_cart", method: :post, class: "inline") do |form| %>
            <%= form.hidden_field :product_id, value: product.id %>
            <%= form.number_field :quantity, value: 1, min: 1, class: "w-16 p-1 border rounded" %>
            <p> ‏‎ </p>
            <%= form.submit "Sepete Ekle 🏷️", class: "bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 transition-colors" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
