<p class="mb-4">
  <%= link_to "← Geri", products_path, class: "text-blue-500 hover:underline" %>
</p>

<section class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">
  <% if @product.featured_image.attached? %>
    <%= image_tag @product.featured_image, class: "w-64 h-auto mx-auto mb-4 rounded-md shadow" %>
  <% end %>

  <section class="text-center mb-6">
    <h1 class="text-2xl font-semibold text-gray-800 mb-2"><%= @product.name %></h1>
    <p class="text-gray-600"><%= @product.description %></p>
  </section>
  <p class="text-gray-600 mb-4">Fiyat: <%= @product.price.present? ? number_to_currency(@product.price, unit: " ₺", format: "%n%u", separator: ",", delimiter: ".") : "Belirtilmemiş" %></p>

  <div class="text-center mb-4">
    <%= render "inventory", product: @product %>
  </div>

  <%= form_with(url: "/cart/add_to_cart", method: :post, class: "inline") do |form| %>
            <%= form.hidden_field :product_id, value: @product.id %>
            <%= form.number_field :quantity, value: 1, min: 1, class: "w-16 p-1 border rounded" %>
            <p> ‏‎ </p>
            <%= form.submit "Sepete Ekle", class: "bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 transition-colors" %>
        <% end %>

  

  <div>
    <% if Current.user.favorite_products.include?(@product) %>
      <p> ‏‎ </p>
      <%= button_to "Favorilerden Çıkar", favorite_path(Current.user.favorites.find_by(product: @product)), method: :delete, class: "bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600 transition-colors" %>
    <% else %>
      <p> ‏‎ </p>
      <%= button_to "Favorilere Ekle", favorites_path(product_id: @product.id), method: :post, class: "bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 transition-colors" %>
    <% end %>
  
  
  

  <% if authenticated? && Current.user.admin? %>
    <div class="flex justify-center space-x-4">
      <%= link_to "Düzenle", edit_product_path(@product), class: "bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded" %>
      <%= button_to "Sil", @product, method: :delete, data: { turbo_confirm: "Emin misin?" }, class: "bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded" %>
    </div>
  <% end %>
</section>

